:host { display: contents; }

.videos__list {
  display: grid;
}

.grid__style_card {
  grid-template-columns: repeat(3, minmax(100px, 384px));
}

.grid__style_compact {
  grid-template-columns: 1fr;
}

@media (width <= 910px) {
  .grid__style_card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 600px) {
  .grid__style_card {
    grid-template-columns: 1fr;
  }
}
