:host { display: contents; }

.videos__list {
  display: grid;
  gap: 24px;
}

.grid__style_card {
  grid-template-columns: repeat(3, minmax(384px, 1fr));
}

.grid__style_compact {
  grid-template-columns: 1fr;
}
