<div>
  <div class="pt-32 pb-32 jcfe">
    <div class="grid__action pr-26 pl-26 pt-12 pb-12">
      <app-icon
        #icon
        [name]="icon.Icons.gridCard"
        [width]="'22px'"
        [height]="'22px'"
      />
    </div>

    <div class="grid__action pr-26 pl-26 pt-12 pb-12">
      <app-icon
        #icon
        [name]="icon.Icons.gridCompact"
        [width]="'22px'"
        [height]="'22px'"
      />
    </div>
  </div>

  <div class="videos__list">
    <app-video
      *ngFor="let video of videos"
      [previewUrl]="video.previewUrl"
      [title]="video.title"
      [createdDate]="video.createdDate"
    />
  </div>
</div>
