:host { display: contents; }

.video {
  height: 292px;
}

.video:hover {
  background-color: var(--color-gray-thin);
}

.video__img {
  width: 100%;
  height: 216px;
}

.video__title {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.video__date {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-gray-medium);
}

.video__owner {
  padding-right: 12px;
}
