<a
  *ngIf="gridStyle === Icons.gridStyleCard"
  routerLink="./videos/{{id}}"
  class="video__card cup"
>
  <img class="video__img" [attr.src]="previewUrl" alt="video">
  <div>
    <div class="video__title truncate__vertical-one-line">{{ title }}</div>
    <div class="aic jcsb pb-12">
      <div class="video__date">{{ createdDate | date:'MM/dd/yyyy' }}</div>
      <div class="video__owner">
        <app-profile [avatarWidth]="'24px'" [avatarHeight]="'24px'" />
      </div>
    </div>
  </div>
</a>

<a
  *ngIf="gridStyle === Icons.gridStyleCompact"
  routerLink="./videos/{{id}}"
  class="video__compact cup pt-20 pr-20 pb-20 pl-20"
>
  <img class="video__img_compact" [attr.src]="previewUrl" alt="video">

  <div class="video__compact-container">
    <div class="pl-20 df aic jcc text-wrap-nowrap video__title_compact truncate__vertical-one-line pr-20">{{ title }}</div>
    <div class="df aic jcfe video__date_compact pr-20">{{ createdDate | date:'MM/dd/yyyy' }}</div>
    <div class="df aic jcc video__owner pr-20"><app-profile [avatarWidth]="'24px'" [avatarHeight]="'24px'" /></div>
  </div>

</a>
