// css color naming gradation
// 100 - Thin
// 200 - Extra Light, Ultra Light
// 300 - Light
// 400 - Normal, Book, Regular
// 500 - Medium
// 600 - Semi Bold, Demi Bold
// 700 - Bold
// 800 - Extra Bold, Ultra Bold
// 900 - Black, Heavy

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-border: #EFF3F4;
  --color-main: #12123D;

  --color-gray-thin: #EFEFEF;
  --color-gray-extra-light: #CCCCCC;
  --color-gray-medium: #8D8D8D;

  --color-blue-thin: #CFCEE1;
  --color-blue-extra-light: #C2C2DE;
  --color-blue-medium: #353392;
}
