<div class="pt-24 por">
  <video #video class="videoplayer">
    <source *ngIf="url" [src]="url" type="video/mp4" >
  </video>

  <div class="videoplayer__controls-container pb-14 poa b-0">
    <div class="videoplayer__controls-line-container">
      <div
        #line
        class="videoplayer__controls-line"
      >
        <div
          *ngIf="progress && duration"
          class="videoplayer__controls-line videoplayer__controls-line_filled"
          [style.width.%]="progress / duration * 100"
        ></div>

        <div
          *ngIf="progress && duration"
          class="videoplayer__controls-circle"
          [style.left.%]="progress / duration * 100"
          [ngStyle]="{'transform': 'translateX(-8px)'}"
        ></div>
      </div>
    </div>

    <div class="videoplayer__controls aic">
      <app-icon
        #icon
        [name]="isVideoPlaying ? icon.Icons.pause : icon.Icons.play"
        (click)="toggleVideo()"
      />
      <div class="videoplayer__controls-time pl-32">{{ progressHHMMSS }} / {{ durationHHMMSS }}</div>
    </div>
  </div>
</div>
