<div class="pt-24 por">
  <video #video class="videoplayer">
    <source src="https://res.cloudinary.com/ifeomaimoh/video/upload/v1650352188/production.mp4" type="video/mp4" >
  </video>

  <div class="videoplayer__controls-container pb-14 poa b-0">
    <div class="videoplayer__controls-line-container">
      <div class="videoplayer__controls-line">
        <div
          *ngIf="progress && duration"
          class="videoplayer__controls-line videoplayer__controls-line_filled"
          [style.width.%]="progress / duration * 100"
        ></div>
      </div>
    </div>

    <div class="videoplayer__controls aic">
      <app-icon
        #icon
        [name]="isVideoPlaying ? icon.Icons.pause : icon.Icons.play"
        (click)="toggleVideo()"
      />
      <div class="videoplayer__controls-time pl-32">{{ progress | date: 'HH:mm:ss' }} / {{ duration | date: 'HH:mm:ss' }}</div>
    </div>
  </div>
</div>
