<app-header />

<div
  class="container-min-max-384-800"
  *ngIf="{
    item: item$ | async
  } as state"
>
  <div class="videos__container df">
    <app-input />
    <app-button [title]="'Save'" />
  </div>

  <app-videoplayer [url]="state.item?.url" />

  <div class="pt-16 df jcsb">
    <div class="df">
      <app-button
        #button
        [category]="button.ButtonCategory.secondaryWithIcon"
        [icon]="button.Icons.camera"
        [title]="'Snapshot'"
        [fillPath]="'#000'"
      />

      <span class="pr-16"></span>

      <app-button
        #button
        [category]="button.ButtonCategory.secondaryWithIcon"
        [icon]="button.Icons.star"
        [title]="'Star'"
        [fillPath]="'#000'"
      />
    </div>

    <div class="df aic">
      <app-profile />
    </div>
</div>
