:host { display: contents; }

.tabs__button {
  border-radius: 10px;
}

.tabs__button:hover {
  background-color: var(--color-gray-extra-light);
}

.tabs__button_active {
  background-color: var(--color-gray-extra-light);
}
